*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

ul, ol, li{
    list-style: none;
}

body{
    scroll-behavior: smooth;
    overflow-x: hidden;
    font-family: "Montserrat", serif;
    background-color: #7AB2D3;
}

header{
    background-color: transparent;
    padding: 16px;
    position: fixed;
    width: 100vw;
    height: 100px;
    z-index: 10;
}

header nav ul{
    display: flex;
    justify-content: space-around;
}

header nav a{
    color: black;
    padding: 8px 16px;
    font-weight: bold;
    position: relative;
    text-decoration: none;
}


.header-nav a:focus,
button:hover {
  color: black;
}

.header-nav a:focus:after,
.header-nav a:hover:after {
  width: 100%;
  left: 0%;
}

.header-nav a:after {
  content: "";
  pointer-events: none;
  bottom: -2px;
  left: 50%;
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: black;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: width, left;
}

main{
    padding-top: 100px;
}

.grupo {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px;
}

.conteudo {
    max-width: 40%;
    padding-left: 20px;
}

.conteudo h1 {
    font-size: 62px;
    margin-bottom: 20px;
    color: black;
}

.conteudo p {
    font-size: 1.3rem;
    line-height: 1.6;
    margin-bottom: 30px;
    color: #333;
}

img {
    max-width: 50%;
}

.botao-sobre {
    display: inline-block;
    padding: 1.2em 2.5em;
    font-size: 1.1rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    cursor: pointer;
}

.botao-sobre a {
    color: black;
    text-decoration: none;
}

.botao-sobre:hover {
    background-color: #5B99C2;
}

.botao-doe {
    display: inline-block;
    padding: 1.2em 2.5em;
    font-size: 1.1rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    cursor: pointer;
}

.botao-doe a {
    color: black;
    text-decoration: none;
}

.botao-doe:hover{
    background-color: #EDBB72;
}